
<div class="row">

  <div class="col-md-12">

    <div class="card">

      <div class="card-header">
        <h4 class="card-title" style="text-align: center;">Create Credential</h4>
      </div>
   
         
      <div class="card-body">
        
        <form  [formGroup]="form" class="mat-form-field" id="formCreate" name="formCreate" role="form" >

  
          <mat-form-field appearance="outline">
            <mat-label for="uname1">Email</mat-label>
            <input matInput placeholder="email" formControlName="email" id="uname1" name="uname1">
          </mat-form-field><br>
 
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="password" formControlName="password" id="pwd1">
          </mat-form-field><br>    
          <div class="modal-footer">
            <button  mat-raised-button color="primary" type="submit" (click)="onCreateUser($event)"  class="btn-save">Create</button>
            
          </div>
          
        </form>
        </div>

      </div>
    </div>
  </div>


 